@import '../base/variables';
@import '../base/extendes';

footer{
    background-color: $color-dos;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    img{
        width: 150px;
        display: flex;
        align-items: center;
    }
    .derecha{
        padding-right: 50px;
        padding-top: 10px;
        a{
            @extend %centrar;
            text-decoration: none;
        }
    }
}