/*navbar responsive*/

@media screen and (max-width: 430px) {
    .nav1{
        ul{
            align-items: center;
            padding: 1px;
        }
    }
}

/*muestrario responsive*/

@media screen and (min-width: 1030px) {
    .container-item{
        padding: 0 50px 0 50px;
        .info-product{
            h2{
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container-item {
        padding-right: 100px;
        padding-left: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 200px;
      }
}

@media screen and (max-width: 450px) {
    .container-item {
        padding-right: 10px;
        padding-left: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .item{
            .info-product{
                h2{
                    font-size: 15px;
                }
            }
        }
      }
}

/*Producto responsive*/
@media screen and (min-width: 1030px) {
    .producto{
        display: flex;
        justify-content: stretch;
        padding: 100px 300px;
        .info-producto{
            padding-left: 100px;
            padding-top: 40px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .producto{
        display: flex;
        justify-content: stretch;
        padding-left: 180px;
        padding-top: 50px;
        .info-producto{
            padding-left: 100px;
            padding-top: 100px;
        }
      }
}


@media screen and (max-width: 820px) {
    .producto{
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding-left: 70px;
        padding-top: 50px;
        .muestrario{
            padding-right: 10px;
        }
        .info-producto{
            padding-top: 50px;
            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 450px) {
    .producto{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-right: 70px;
        .info-producto{
            padding-top: 30px;
        }
    }
}

/*inicio y registro responsive*/

@media screen and (max-width: 450px) {
    .container-in{
        width: 300px;
        .cuenta{
            display: flex;
            flex-direction: column;
        }
    }
    .container-reg{
        width: 300px;
        .cuenta{
            display: flex;
            flex-direction: column;
        }
    }
}





