@import '../base/variables';

header{
    .nav1{
        background-color: #F8F9FA;
        ul{
            display: flex;
            list-style-type: none;
            li{
                padding-top: 10px;
                margin: 10px;
            }
        }
        img{
            width: 100px;
        }
        a{
            text-decoration: none;
        }
    }
    .nav2{
        background-color: $color-dos;
    }
}

